@{
    ViewData["Title"] = "Project documentation";
}
<h1>@ViewData["Title"]</h1>

<p>
This website is created for you as a trip-helper. You may easily store information about places you visited.

//TODO dokończyć
<p>
