@{
    ViewData["Title"] = "NoteTrip documentation";
}
<h2>@ViewData["Title"]</h2>

<p>
Project created by: Paweł Gleindek & Szymon Górski, AGH Cracow, EAIiIB Faculty <br>
This website is created for you as a trip-helper. You may easily store information about places you visited (or you are going to visit). All data is stored in an organized way. Here's how to use our website: <br>
<ol>
    <li> Create a country specifying its data: name, continent where the country is located, its domestic language, currency and capital city.</li>
    <li> Then create regions and connect them to one of your countries.</li>
    <li> Next step - create cities connected with regions.</li>
    <li> Finally - in cities create tourist attractions you are keen on.</li>
</ol>
The website provides you with some statistics about those placed you created. You can also see a map displaying countries you've been to. <br>
The interface is really easy and intuitive so you'll surely have no troubles using our website. In case of some changes you may of course edit data you've put into. <br>
Last thing - leaderboard: you may see how well you're doing in traveling through different countries and compete with other users. <br>
Good luck!
<p>