@{
    ViewData["Title"] = "NoteTrip Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <p> We're glad that you're here! Go to the documentation section to learn how to use this website and have fun storing your travel data.</p>
    <img src="@Url.Content("~/images/wanderer.png")" alt="A tired wanderer at sunset" width="600">
</div>
